[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
django-widget-tweaks = "==1.4.2"
psycopg2-binary = "==2.7.7"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
gunicorn = "*"

[requires]
python_version = "3.6"
