[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
django = "*"
django-widget-tweaks = "==1.4.2"
psycopg2-binary = "==2.7.7"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
gunicorn = "*"
graphene-django = "*"
graphene-django-extras = "*"
sympy = "==1.1.1"
numpy = "*"
social-auth-app-django = "*"
pylint-django = "*"
autopep8 = "*"
ptvsd = "*"
django-cors-headers = "*"

[requires]
python_version = "3.6"
